//Layout

.header {
  position: relative;
  width: 930px;
  margin: 0 auto;
  padding: 100px 0;
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    a {
      display: block;
      width: 60px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .logo_20th {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 75px;
    img {
      display: block;
      width: 100%;
    }
  }
}